
/* color values  http://www.colorexplorer.com/textimport.aspx */
$color-white: #fff;
$color-alabaster-gray: #FAFAFA;
$color-concrete-gray: #f2f2f2;
$color-porcelain-gray: #f4f6f7;
$color-gallery-gray: #eee; //body bg and a couple small things
$color-mercury-gray: #e9e9e9;
$color-alto-gray: #E0E0E0;
$color-athens-gray: #edf1f3;
$color-geyser-gray: #d2dbe0;
$color-iron-gray: #D7D9DC;
$color-loblolly-gray: #c3cfd6;
$color-gull-gray: #98abba;
$color-slate-gray: #738491;
$color-trout-gray: #4D5763;
$color-silver-gray: #BDBDBD;
$color-nobel-gray: #b3b3b3;
$color-silver-chalice-gray: #9E9E9E;
$color-boulder-gray: #777;
$color-tundora-gray: #424242;
$color-outer-space-gray: #292f34;
$color-mine-shaft-gray: #222;
$color-shark-gray: #212223;
$color-black: #000;

$color-thunderbird-red: #B71C1C;
$color-mojo-red: #c73d3d;
$color-cinnabar-red: #EA4848;
$color-burnt-sienna-red: #ec5b5b;
$color-geraldine-red: #FB797E;
$color-fair-pink: #FFE9E6;
$color-pomegranate-red: #F44336;

$color-international-orange: #ff5500;

$color-mustard-yellow: #FFD54F;

$color-parsley-green: #1B5E20;
$color-fruit-salad-green: #4CAF50;
$color-jungle-green: #36bb6f;
$color-mountain-meadow-green: #189b51;
$color-jungle-green: #27b062;

$color-aqua-haze-blue: #F5F8F9;
$color-black-squeeze-blue: #f2f7fa;
$color-alice-blue: #EFF7FF;
$color-pattens-blue: #E1F5FE;
$color-picton-blue: #24a0ed;
$color-curious-blue: #158be2;
$color-lochmara-blue: #0079D3;
$color-endeavour-blue: #0066b2;
$color-royal-blue: #516AE8;
$color-indigo-blue: #5c5bd7;
$color-trendy-purple: #7D5D8A;


/* eagles specific colors */
$color-eagles-silver-gray: #c0c0c0; //nice color
$color-eagles-cyprus-green: #003c47; //nice color
